#heading {
	color: #00aced;
}

body {
	background-color: #ffffff;
	color: #0084b4;
}

img {
	width: 75px;
	height: 40px;
}

#calculate {
	width: 150px;
	height: 25px;
}

#myList {
	background-color: #1dcaff;
	color: white;
}

#form {
	overflow: hidden;
    white-space: nowrap;
}

.box {
	width: 35px;
}

.error {
	background-color: #FFBABA;
}

.button {
	background-color: #1dcaff;
	color: beige;
	border-radius: 25px;
}

#reset {
	width: 50px;
	height: 25px;
}

#post {
	width: 75px;
	height: 25px;
}




